.vs/Notes1/CopilotIndices/17.13.431.34963/CodeChunks.db
.vs/Notes1/CopilotIndices/17.13.431.34963/CodeChunks.db-shm
.vs/Notes1/CopilotIndices/17.13.431.34963/CodeChunks.db-wal
.vs/Notes1/CopilotIndices/17.13.431.34963/SemanticSymbols.db
.vs/Notes1/CopilotIndices/17.13.431.34963/SemanticSymbols.db-shm
.vs/Notes1/CopilotIndices/17.13.431.34963/SemanticSymbols.db-wal
.vs/Notes1/DesignTimeBuild/.dtbcache.v2
.vs/Notes1/FileContentIndex/0cb2a5e2-8e62-41eb-a3fb-c04c8a8ca26c.vsidx
.vs/Notes1/FileContentIndex/0e0264d4-97b6-46e5-a895-07bc4a3b7e79.vsidx
.vs/Notes1/FileContentIndex/1d7e6f64-dc66-4d2b-9f79-f8358b225e5d.vsidx
.vs/Notes1/FileContentIndex/2c974e22-dfc4-432f-9add-32f6c714a741.vsidx
.vs/Notes1/FileContentIndex/04b84418-131d-463e-a712-e748da76e781.vsidx
.vs/Notes1/FileContentIndex/4c97b265-fb3c-43c5-aac6-fc13dadb3616.vsidx
.vs/Notes1/FileContentIndex/8bdb4b7e-2161-41c9-9e4b-89e89aed8a87.vsidx
.vs/Notes1/FileContentIndex/8f2e43ff-ae6d-4893-acf8-e0c7abaf4109.vsidx
.vs/Notes1/FileContentIndex/8f38eda2-f29c-47b6-9e32-0598a7617b11.vsidx
.vs/Notes1/FileContentIndex/39d4026d-3a48-42c5-89d9-4df52396a85a.vsidx
.vs/Notes1/FileContentIndex/565b4f9f-978a-4f09-9f87-40979ae5ef5e.vsidx
.vs/Notes1/FileContentIndex/0597b7d7-819b-4d6b-822b-6c051826bfdc.vsidx
.vs/Notes1/FileContentIndex/277274c1-d6d8-4fb7-8009-6e229831e746.vsidx
.vs/Notes1/FileContentIndex/b4ebf7e6-5a91-4c01-9249-8cd5ccc64cff.vsidx
.vs/Notes1/FileContentIndex/b10f5cc3-04d2-4029-ab72-1ad41268706e.vsidx
.vs/Notes1/FileContentIndex/b92f7f74-971f-4e09-b5fa-ed494f87331c.vsidx
.vs/Notes1/FileContentIndex/bb24be57-406c-41ac-9295-280110de3971.vsidx
.vs/Notes1/FileContentIndex/d6d9221f-63f1-461e-b11e-6fdfdf31fa7a.vsidx
.vs/Notes1/FileContentIndex/e8b86287-558c-4322-8761-c80363df6b78.vsidx
.vs/Notes1/FileContentIndex/f4cc4ef5-ab15-4432-94f1-7665f2b8e050.vsidx
.vs/Notes1/v17/.futdcache.v2
.vs/Notes1/v17/.suo
.vs/Notes1/v17/DocumentLayout.backup.json
.vs/Notes1/v17/DocumentLayout.json
.vs/Notes1/v17/fileList.bin
.vs/ProjectEvaluation/notes1.metadata.v7.bin
.vs/ProjectEvaluation/notes1.projects.v7.bin
bin/Debug/net6.0/Notes1.dll
bin/Debug/net6.0/Notes1.exe
bin/Debug/net6.0/Notes1.pdb
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Notes1.AssemblyInfo.cs
obj/Debug/net6.0/Notes1.AssemblyInfoInputs.cache
obj/Debug/net6.0/Notes1.assets.cache
obj/Debug/net6.0/Notes1.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Notes1.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Notes1.dll
obj/Debug/net6.0/Notes1.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Notes1.pdb
obj/Debug/net6.0/Notes1.sourcelink.json
obj/Debug/net6.0/ref/Notes1.dll
obj/Debug/net6.0/refint/Notes1.dll
